<div class="container">
  <div class="row">
    <div class="col-12-sm">
     <h1>Alert: {{ alert_id }}</h1>
      <p><a href="#/alerts">Alert List</a></p>
      <table style="width:100%;border: 1px solid black">
	<tr style="border: 1px solid black">
		<td colspan=3 style="background-color: {{ alert.bg }} ;text-align:center"><b>{{alert.severity}}</b></td>
	</tr>
	<tr style="border: 1px solid black">
	  <th scope=row style="text-align:right;padding:10px">Class</th>	
	  <td>{{alert.class}}</td>	
	</tr>
	<tr style="border: 1px solid black">
	  <th scope=row style="text-align:right;padding:10px">Timestamp</th>		
	  <td>{{alert.display_date}} {{alert.display_time}}</td>
	</tr>
	<tr style="border: 1px solid black">
	  <th scope=row style="text-align:right;padding:10px">Process Status</th>		
	  <td>{{alert.process_status}}</td>
	</tr>	
	<tr style="border: 1px solid black">
	  <th scope=row style="text-align:right;padding:10px">Text</th>	
  	  <td>{{alert.text}}</td>
	</tr>
	<tr style="border: 1px solid black">
	  	<th scope=row style="text-align:right;padding:10px">Tokens</th>	
		<td><pre>{{ alert.tokens }}</pre></td>
	</tr>
	<tr style="border: 1px solid black">
	  	<th scope=row style="text-align:right;padding:10px">Source</th>	
		<td>{{ alert.source }}</td>
	</tr>
	<tr style="border: 1px solid black">
	  	<th scope=row style="text-align:right;padding:10px">Link</th>	
		<td>{{ alert.source_link }} - <a href="{{ alert.source_link }}">Click me</a></td>
	</tr>
	<tr style="border: 1px solid black">
	  	<th scope=row style="text-align:right;padding:10px">Impacts</th>	
		<td></p><pre>{{ alert.impacts }}</pre></td>
	</tr>
	<tr style="border: 1px solid black">
	  	<th scope=row style="text-align:right;padding:10px">Data</th>	
		<td><pre>{{ alert.data }}</pre></td>
	</tr>	
      </table><br>

      <table style="width:100%;border: 1px solid black">   
	<tr style="border: 1px solid black">
		<th width=12%>Date</th>
		<th width=8%>Agent</th>
		<th width=8%>Event</th>
		<th width=70%>History</th>
	</tr>	
	<tr ng-repeat="hist in alert.history">
	  	<td>{{hist.display_date}} {{hist.display_time}}</td>	
		<td>{{hist.agent}}</td>	
		<td>{{hist.event}}</td>	
		<td>{{hist.text}}</td>	
        </tr>
      </table><br>

      <table style="width:100%;border: 1px solid black">      
	<tr style="border: 1px solid black">
		<td><details syle="display:initial">
	      		<summary><b>&gt<font color=#404080>Click here for full JSON</font><b></summary>
	      		<pre>{{ alert | json }}</pre>
		</details></td>	      
	</tr>	
      </table>
    </div>
  </div>
</div>
